
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>

            <h3>Users</h3>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Username
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Password
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Role
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Action
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="username"></td>
                        <td><input type="text" class="form-control" placeholder="password"></td>
                        <td><input type="text" class="form-control" placeholder="role1, role2"></td>
                        <td>
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>alice</td>
                        <td> </td>
                        <td>student</td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>bob</td>
                        <td> </td>
                        <td>faculty/admin</td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>charlie</td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
