.restaurant-header {
    height: 750px;
    padding-bottom: 20px;
    overflow:hidden;
    opacity: 0.6;
}

.restaurant-header-img {
    height:750px;
    width:100%;
    opacity: 0.6;
    position: relative
}

.restaurant-header-img-title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

table tr td {
    white-space: nowrap;
}