<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller = "FieldController">
    <h1 class="page-header">Forms : {{form.title}}</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <form  ui-sortable="fields">

        <div class = "row" ng-switch ="field.type" ng-repeat = "field in fields">
            <div ng-switch-when = "TEXT" class="form-group col-xs-6 col-lg-6">
                <label for="text">{{field.label}}</label>
                <input type="text" class="form-control" id="text" placeholder="{{field.placeholder}}"/>
            </div>
            <div ng-switch-when = "TEXTAREA" class="form-group col-xs-6 col-lg-6">
                <label for="textarea">{{field.label}}</label>
                <textarea class="form-control" id="textarea" placeholder="{{field.placeholder}}"></textarea>
            </div>
            <div ng-switch-when = "DATE" class="form-group col-xs-6 col-lg-6">
                <label for="date">{{field.label}}</label>
                <input type="date" class="form-control" id="date"/>
            </div>
            <div ng-switch-when = "OPTIONS" class="form-group col-xs-6 col-lg-6">
                <label for="options">{{field.label}}</label>
                <select name="{{field.label}}" id="options" class="form-control" >
                    <option  ng-repeat = "option in field.options" value="{{option.value}}">{{option.label}}</option>
                </select>
            </div>
            <div ng-switch-when = "EMAIL" class="form-group col-xs-6 col-lg-6">
                <label for="email">{{field.label}}</label>
                <input type="email" class="form-control" id="email" placeholder="{{field.placeholder}}"/>
            </div>
            <div ng-switch-when = "CHECKBOXES" class="form-group col-xs-6 col-lg-6">
                <label for="checkbox">{{field.label}}</label>
                <div ng-repeat = "option in field.options">
                    <div class="checkbox">
                        <label><input type="checkbox" id="checkbox"/>{{option.label}}</label>
                    </div>
                </div>
            </div>
            <div ng-switch-when = "RADIOS" class="form-group col-xs-6 col-lg-6">
                <label for="radio">{{field.label}}</label>
                <div ng-repeat = "option in field.options">
                    <div class="radio">
                        <label><input type="radio" id="radio" />{{option.label}}</label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <a data-toggle="modal" data-target="#myModal" ng-click="showField(field)">
                    <span class="glyphicon glyphicon-pencil align-horizontally"></span>
                </a>
                <a ng-click = "removeField(field)">
                    <span class="glyphicon glyphicon-remove align-horizontally"></span>
                </a>
            </div>
        </div>

        <hr>

        <label for="addNewField">Add New Field:</label>
        <div class=" row">
            <div class=" form-group col-xs-6 col-lg-6">
                <select ng-model = "field.newFieldOption"  name="addNewField" id="addNewField" class="form-control" >
                    <option value="0">Single Line Text Field</option>
                    <option value="1">Multi Line Text Field</option>
                    <option value="2">Date Field</option>
                    <option value="3">Dropdown Field</option>
                    <option value="4">Checkboxes Field</option>
                    <option value="5">Radio Buttons Field</option>
                </select>
            </div>
            <div class="col-xs-6">
                <a  ng-click = "addField(field.newFieldOption)" class="btn btn-default"><span  class="glyphicon glyphicon-plus "></span></a>
            </div>
        </div>
    </form>

    <div class = "modal fade" id = "myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalHeader">{{modal.label}}</h4>
                </div>
                <div class="modal-body">
                    <div class = "row" ng-switch ="modal.type">
                        <div ng-switch-when = "TEXT" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Placeholder</label>
                            <input type="text" class="form-control"  ng-model = "modal.placeholder"/>
                        </div>
                        <div ng-switch-when = "EMAIL" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Placeholder</label>
                            <input type="text" class="form-control"  ng-model = "modal.placeholder"/>
                        </div>
                        <div ng-switch-when = "TEXTAREA" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Placeholder</label>
                            <textarea class="form-control"  ng-model = "modal.placeholder"></textarea>
                        </div>
                        <div ng-switch-when = "DATE" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                        </div>
                        <div ng-switch-when = "OPTIONS" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Options</label>
                            <textarea class="form-control"  ng-model = "modal.options"></textarea>
                        </div>
                        <div ng-switch-when = "CHECKBOXES" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Options</label>
                            <textarea class="form-control"  ng-model = "modal.options"></textarea>
                        </div>
                        <div ng-switch-when = "RADIOS" class="form-group col-xs-6 col-lg-6">
                            <label>Label</label>
                            <input type="text" class="form-control"  ng-model = "modal.label"/>
                            <br/>
                            <label>Options</label>
                            <textarea class="form-control"  ng-model = "modal.options"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click = "updateField(modal)">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>