<h1 class="page-header">Welcome to Urban-Appetizer!</h1>
<h4 class="text-justify">
    Urban-Appetizer, A unique way for finding your favorite restaurants.
</h4>
<h4 class="text-justify" ng-hide="!model.isNotLogin()">
    Urban-Appetizer suggests friends based on your common favorite restaurant.
</h4>

<br/>
<div class="form-group input-group-lg has-feedback has-feedback-right">
    <div class="class="col-sm-10"">
        <input type="text"
               class="form-control"
               placeholder="Enter name of Restuarant/Food type..."
               ng-model="model.searchQueryString"
               //ng-keyup="$event.keyCode == 13 ? model.searchQuery(model.searchQueryString) : null"
    required>
        <br>
        <input type="text"
               class="form-control"
               placeholder="Enter name of City/State..."
               ng-model="model.searchLocationString"
        ng-keyup="$event.keyCode == 13 ? model.searchQuery(model.searchQueryString, model.searchLocationString) : null">

        <button
                ng-click="model.searchQuery(model.searchQueryString, model.searchLocationString)"
                class="btn btn-primary btn-block"
                ng-disabled="!model.searchLocationString || !model.searchQueryString">
            Search
        </button>
    </div>
</div>