<div class="container">
    <h1> Search restuarant</h1>
    <!--<input id="name enter" class="form-control" placeholder="Restuarant Name"/>-->
    <!--<button id="searchMovie"class ="btn btn-primary btn-block">Search Restuarant</button>-->


    <table class="table" ng-controller="RestuarantListController">
        <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Rating</th>
            <th>RatingImage</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="restuarant in restuarants">
            <td><img ng-src={{restuarant.image_url}} alt="Description" /></td>
            <td>{{restuarant.id}}</td>
            <td>{{restuarant.name}}</td>
            <td>{{restuarant.rating}}</td>
            <td><img ng-src={{restuarant.rating_img_url}} alt="Description" /></td>
        </tr>
        </tbody>
    </table>
</div>