<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/favorites">Your Reviews</a></li>
        <li role="presentation" class=active><a href="#/favorite_books">Favorites</a></li>
    </ul>
    <br/>
    <h1>{{model.noBookMsg}}</h1>


    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>


    <div ng-repeat="favbook in model.favbooks">
        <div class="row">
            <div class ="col-md-2">
                <img class="img" width="100px" ng-src={{favbook.thumbnailUrl}}>
            </div>
            <div class ="col-md-5 col-xs-4 text-nowrap">
                    <div class="row">
                        <h3><a href="" ng-click="model.getRestaurantDetails(favbook)">
                            {{favbook.ISBN_13}}
                        </a></h3>
                    </div>
                    <br/>

                    <div class="row text-nowrap" ng-hide="model.isLogin()">
                        <a class="disabled" ng-click="model.removeFav(favbook)">
                                <span style="color:orangered" class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                    </div>

                    &nbsp;
                    <div class="row">
                        <a target="_blank" ng-href={{favbook.googlePreviewLink}}>Preview on Yelp</a>
                    </div>
            </div>
        </div>
        <hr/>
    </div>
    <div class="row center-block col-md-10" style="display:none">
        <button class="btn btn-default center-block">Load more..</button>
    </div>
</div>