<div>
    <div class="row text-nowrap DescPara">
        <h1>Profile page for {{model.user.username}}</h1>
    </div>
    <div class="row text-nowrap">
        <div class="col-md-3">
            <img width="100px" ng-src={{model.user.profilePicUrl}}>
        </div>

        <div class="col-md-5">
            <div class="row text-nowrap">
                <h3>{{model.user.firstName}} {{model.user.lastName}}</a>
                </h3>
            </div>
            <div class="row text-nowrap">
                <h3>Member since {{model.user.joinDate | date : format : timezone }}</h3>
            </div>
        </div>
    </div>
    <hr/>

    <div class="table">
        <h2>{{model.noBookMsg}}</h2>
        <div ng-repeat="reviewBook in model.reviewBooks">
            <div class="row">
                <div class ="col-md-2">
                    <img class="img" width="100px" ng-src={{reviewBook.thumbnailUrl}}>
                </div>
                <div class ="col-md-5 col-xs-4 text-nowrap">
                    <div class="row">
                        <h3 >
                            {{reviewBook.title}}
                        </h3>
                    </div>
                    <br/>

                    &nbsp;
                    <div class="row">
                        <a ng-href={{reviewBook.googlePreviewLink}}>Preview on Yelp</a>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-md-16">
                    <h4><span style="text-decoration: underline;">Reviews:</span></h4>
                </div>
            </div>
            <div ng-repeat="review in reviewBook.reviews">
                <div class="row">
                    <div class="col-md-3 text-justify" ng-if= "model.isCurrentUser(review.username)">
                        <h4 >You wrote:</h4>
                    </div>
                    <div class="col-md-3 text-justify" ng-if= "!model.isCurrentUser(review.username)">
                        <h4 >{{review.username}} wrote:</h4>
                    </div>
                </div>
                <div class="row DescPara">
                    <div class="col-md-16 text-justify">
                        <p>{{review.reviewDesc}}</p>
                    </div>
                </div>
                <br/>
                <hr/>
            </div>
        </div>
        &nbsp;
    </div>
</div>
